#sport-form{
    margin-left:60%;
    margin-top:10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    color:rgb(34, 53, 161);
    font-style: bold;
    

}
/* 
#add-sportitem{
    background-color: rgb(215, 184, 245);
 }  */

button,
    div,
    form,
    input {
      margin: 10px;
    }

    
    


 img {
    width: 200px;
    height: 200px;
    float: left;
    
    /* display: flex; */
} 



body {
    background-image: url("images/backgroungimg.jpg");
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:bold;
    
  }
#add-sportitem,button{
    color:rgb(220, 204, 235);
    background-color: rgb(45, 20, 68);
}