.jumbotron{
    padding:2px;
    margin-top: 2px;
    color: rgb(22, 22, 46);

}

#sport-form{
    margin-left:60%;
    margin-top:10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    /* color:rgb(34, 53, 161); */
    color: rgb(22, 22, 46);
    font-style: bold;
    

}
img{
width:200px;
height:200px;

}


button,
    div,
    form,
    input {
      margin: 10px;
    }

    





body {
    background-image: url("images/backgroungimg.jpg");
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:bold;
    
  }
#add-sportitem,button{
    color:rgb(220, 204, 235);
    background-color: rgb(45, 20, 68);
}